{% extends 'frontend/layout/app.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<div class="container mt-4">
  <h2 class="mb-4">Dashboard</h2>
  <div class="row">

    <!-- Total Book Loans -->
    <div class="col-md-4 mb-3">
        <div class="card text-white bg-primary h-100">
        </div>
      </a>
    </div>

    <!-- Total Fine -->
    <div class="col-md-4 mb-3">
        <div class="card text-white bg-danger h-100">
          <div class="card-body">
          </div>
        </div>
      </a>
    </div>

    <!-- Books Reserved -->
    <div class="col-md-4 mb-3">
        <div class="card text-white bg-success h-100">
          <div class="card-body">
          </div>
        </div>
      </a>
    </div>

  </div>
</div>
{% endblock %}